body{
    color: #34405e;
    background-color: #ecf0f1;
}

.form,
.greetings{
    display: none;
}
/* alone the "text" only remove "box(border)" */

.showing{
    display: block;
}
/* show agian with this code */